
{% extends "base.html" %}
{% block crumb %}
&gt; {{ title.name }}
{% endblock %}
{% block content %}
<h1>{{title.name}}</h1>

{% if bookmarked_episode %}
<h2>Resume reading</h2>
<div class='episodes' id="episode-resume">
    <a href="{{ url_for('episode', eid=bookmarked_episode.id) }}"
         class="episode-card">
        {% if bookmarked_episode.thumb %}
            <img class="episode-thumb"
                 src="{{ url_for('media', eid=bookmarked_episode.id, fname=bookmarked_episode.thumb) }}"
                 alt="thumb">
        {% endif %}
        <div class="episode-info">
            <div class="episode-title">
                Episode {{ bookmarked_episode.number }}
            </div>
            <div class="episode-name">
                {{ bookmarked_episode.name }}
            </div>
        </div>
    </a>
</div>
{% endif %}

<h2>Episodes</h2>
<div class='episodes' id="episode-list">
{% for e in episodes %}
<a class="episode-card
" href="{{ url_for('episode', eid=e.id) }}" data-ep-number="{{ e.number }}">

    {% if e.thumb %}
        <img class="episode-thumb"
             src="{{ url_for('media', eid=e.id, fname=e.thumb) }}"
             alt="thumb">
    {% endif %}

    <div class="episode-info">
        <div class="episode-title">
            Episode {{ e.number }}
        </div>
        <div class="episode-name">
            {{ e.name }}
        </div>

    </div>

</a>
{% endfor %}
</div>
{% endblock %}
